@font-face{
    font-family: Timer;
    src: url("/CursedTimerUlil-Aznm.ttf");
}
body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score{
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080001;
    font-size: 90px;
    font-family: timer;
    color: #F94F6D;
    padding-top: 10px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}
h3{
    font-size: 2em;
}
button{
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 10px;
    font-family: timer;
}